<!DOCTYPE html>
<html>
  <head>
    <title>RepasoBrayan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  </head>

  <body>
    <main class="container">
      <nav>
        <ul>
          <li>
            <%= link_to "Inicio", root_path %>
          </li>
          <li>
            <%= link_to "Equipo", team_path %>
          </li>
          <li>
            <%= link_to "Legales", terms_path %>
          </li>
        </ul>
      </nav>
      
      <%= yield %>
    </main>
    
  </body>
</html>
